<h3>Know of a pet needing home?</h3>
<p *ngFor="let e of errors">{{e}}</p>
<form (submit)="addPet()">  
  <p>Pet name: <input type="text" name="newPet.name" [(ngModel)]="newPet.name"></p>
  <p>Pet type: <input type="text" name="newPet.petType" [(ngModel)]="newPet.petType"></p>
  <p>Description: <input type="text" name="newPet.description" [(ngModel)]="newPet.description"></p>
  <p>Skill1: <input type="text" name="newPet.skill1" [(ngModel)]="newPet.skill1"></p>
  <p>Skill2: <input type="text" name="newPet.skill2" [(ngModel)]="newPet.skill2"></p>
  <p>Skill3: <input type="text" name="newPet.skill3" [(ngModel)]="newPet.skill3"></p>

  <input type="submit" value="Add Pet"> |
<button [routerLink]="['/pets']">Cancel</button>
</form>